<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заявка</title>
    <link rel="stylesheet" type="text/css" href="style/style.css" />
</head>
<body>
<h1>{{ certificate.certificate_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

<p>Группа:{{ request.user.mysiteprofile.group}}</p>
<p>Фамилия:{{ request.user.last_name }}</p>
<p>Имя:{{ request.user.first_name }}</p>
<p>Отчество:{{ request.user.mysiteprofile.father_name }}</p>
<form action="{% url 'practiceapp:thanks' %}" method="post">{% csrf_token %}
    <label>
        Количество справок:
        <input type="number" name="amount" value="{{ amount }}">
    </label>
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>