<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style/style.css" />
</head>
<body>
<h1>{{ certificate.certificate_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<!--<form action="{% url 'practiceapp:vote' certificate.id %}" method="post">
    <label for="your_group">Номер группы:</label>
    <input id="your_group" type="text" name="your_group" value="{{ current_group }}">
    <br/>
    <label for="your_surname">Фамилия:</label>
    <input id="your_surname" type="text" name="your_surname" value="{{ current_surname }}">
    <br/>
    <label for="your_name">Имя:</label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <br/>
    <label for="your_fathername">Отчество:</label>
    <input id="your_fathername" type="text" name="your_fathername" value="{{ current_fathername }}">
    <br/>
    <label for="date">Дата:</label>
    <input id ="date" type="datetime" name="date" value="{{ current_date }}">
    <br/>
    <label for="Amount">Количество:</label>
    <input id="Amount" type="text" name="Amount" value="{{ current_amount }}">
    <br/>
    <input type="submit" value="OK">
</form>-->



<form action="{% url 'practiceapp:vote' certificate.id %}" method="post">
{% csrf_token %}
{% for question in certificate.question_set.all %}
    <label for="certificate{{ forloop.counter }}{{ forloop.counter }}">{{ question.question_text }}</label>
    <input type="text" name="question" id="certificate{{ forloop.counter }}" value="{{ certificate.id }}" />
    <br/>
{% endfor %}
<input type="submit" value="Сделать заявку" />
</form>

{% csrf_token %}
</body>
</html>